<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Coletores</h3>
        </div>
        <form>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Empresa</label>
                  <select class="form-control" [(ngModel)]="selectedOption2" name="selectedOption2">
                    <option *ngFor="let empresa of empresas" value={{empresa.guidEmpresa}}>
                      {{empresa.razaoSocial}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Departamento</label>
                  <select class="form-control" [(ngModel)]="selectedOption" name="selectedOption">
                    <option *ngFor="let departamento of departamentos" value={{departamento.guidDepartamento}}>
                      {{departamento.nomeDepartamento}} 
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <button (click)="popularTableFiltro()" class="btn btn-sm btn-primary"
                    style="color: white;">Filtrar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Marca Coletor</th>
                <th scope="col">Modelo Coletor</th>
                <th scope="col">Responsável</th>
                <th scope="col">
                  <button (click)="goToInserirColetor()" class="btn btn-sm btn-primary"
                    style="color: white;">Inserir</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coletor of coletores">
                <th scope="col">{{coletor.marcaColetor}}</th>
                <th scope="col">{{coletor.modeloColetor}}</th>
                <th scope="col">{{coletor.responsavelColetor}}</th>
                <th scope="col"><button (click)="alterarDados(coletor)" class="btn btn-sm bg-gradient-danger"
                  style="color: white;">Alterar</button></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>