<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Patrimônio</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" (click)="goToComputadores()" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-laptop"></i>
                  <span>Computadores</span>
                </div>
              </button>
              <br><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" (click)="goToColetores()" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-tablet-button"></i>
                  <span>Coletores</span>
                </div>
              </button>
              <br><br><br><br><br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
