<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: orange;
  }
  .pagination {
    padding: 70px;
    margin-bottom: 20px;
    color: #666;
    font: 14px/24px sans-serif;
}
.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    font: 14px/24px sans-serif;
}
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Computadores</h3>
        </div>
        <form>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Empresa</label>
                  <select class="form-control" [(ngModel)]="selectedOption2" name="selectedOption2">
                    <option *ngFor="let empresa of empresas" value={{empresa.guidEmpresa}}>
                      {{empresa.razaoSocial}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Departamento</label>
                  <select class="form-control" [(ngModel)]="selectedOption" name="selectedOption">
                    <option *ngFor="let departamento of departamentos" value={{departamento.guidDepartamento}}>
                      {{departamento.nomeDepartamento}} 
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <button (click)="popularTableFiltro()" class="btn btn-sm btn-primary"
                    style="color: white;">Filtrar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Modelo Computador</th>
                <th scope="col">ipv4 Maquina</th>
                <th scope="col">Host</th>
                <th scope="col">
                  <button (click)="goToInserirComputador()" class="btn btn-sm btn-primary"
                    style="color: white;">Inserir</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let computador of computadores | paginate: { id: 'page', itemsPerPage: 5, currentPage: pageAtual }">
                <th scope="col">{{computador.modeloComputador}}</th>
                <th scope="col">{{computador.ipv4Maquina}}</th>
                <th scope="col">{{computador.hostMaquina}}</th>
                <th scope="col"><button (click)="alterarDados(computador)" class="btn btn-sm bg-gradient-danger"
                  style="color: white;">Alterar</button></th>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="col-11 justify-content-center">
            <pagination-controls id="page" class="my-pagination" (pageChange)="pageAtual = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>