<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">E-mail</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" (click)="goToTransmitir()" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-button-play"></i>
                  <span>Transmitir</span>
                </div>
              </button>
              <br><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" (click)="goToGrupo()" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-world"></i>
                  <span>Grupo</span>
                </div>
              </button>
              <br><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" (click)="goToContatos()" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-user-run"></i>
                  <span>Contatos</span>
                </div>
              </button>
              <br><br><br><br><br><br><br><br><br>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" (click)="goToConfiguracao()" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Configurações</span>
                </div>
              </button>
              <br><br><br><br><br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
