<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: orange;
  }
  .pagination {
    padding: 70px;
    margin-bottom: 20px;
    color: #666;
    font: 14px/24px sans-serif;
}
.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    font: 14px/24px sans-serif;
}
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row" #content>
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Manutenções</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tipo de Manutenção</th>
                <th scope="col">Preço</th>
                <th>Data</th>
                <th>Download NFE</th>
                <th>Detalhes</th>
                <th>Download PDF</th>
                <th scope="col">
                  <button (click)="goToInserirManutencao()" class="btn btn-sm btn-primary"
                    style="color: white;">Inserir</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let manutencao of manutencoes | paginate: { id: 'page', itemsPerPage: 5, currentPage: pageAtual }">
                <th scope="col">{{manutencao.nomeManutencao}}</th>
                <th scope="col">R${{manutencao.precoManutencao}}</th>
                <th scope="col">{{manutencao.dataManutencao | date:'dd/MM/yyyy'}}</th>
                <th scope="col"><a *ngIf="manutencao.guidNotaFiscal" href="http://localhost:8080/api/auth/notasfiscais/download/{{manutencao.guidNotaFiscal}}" style="color: white;"
                  class="btn btn-sm bg-gradient-danger">Download</a></th>
                <th>{{manutencao.detalhesManutencao}}</th>
                <th><button (click)="generatePDF(manutencao)" class="btn btn-sm bg-gradient-danger"
                  style="color: white;">Download</button></th>
                <th scope="col"><button (click)="deletarManutencao(manutencao)" class="btn btn-sm bg-gradient-danger"
                    style="color: white;">Deletar</button></th>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="col-11 justify-content-center">
            <pagination-controls id="page" class="my-pagination" (pageChange)="pageAtual = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>