<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: orange;
  }
  .pagination {
    padding: 70px;
    margin-bottom: 20px;
    color: #666;
    font: 14px/24px sans-serif;
}
.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    font: 14px/24px sans-serif;
}
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Lista de Contatos</h3>
        </div>
        <form (ngSubmit)="submitContato()">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Email *</label>
                  <input type="text" id="input-username" class="form-control form-control-alternative" name="enderecoEmail"
                  required [(ngModel)]="contato.enderecoEmail">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Nome *</label>
                  <input type="text" id="input-username" class="form-control form-control-alternative" name="nomeContato"
                  required [(ngModel)]="contato.nomeContato">
                </div>
              </div>
              <div class="col-lg-5">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <button type="submit" class="btn btn-sm btn-primary"
                    style="color: white;">Inserir</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Endereço de Email</th>
                <th scope="col">Nome</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contato of contatos | paginate: { id: 'page', itemsPerPage: 5, currentPage: pageAtual }">
                <th scope="col">{{contato.enderecoEmail}}</th>
                <th scope="col">{{contato.nomeContato}}</th>
                <th scope="col"><button (click)="deletar(contato)" class="btn btn-sm bg-gradient-danger"
                  style="color: white;">Deletar</button></th>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="col-11 justify-content-center">
            <pagination-controls id="page" class="my-pagination" (pageChange)="pageAtual = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>