<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<br>
<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <button (click)="deletar()" class="btn btn-sm btn-primary" style=" background-color: red; 
        color: white;
        border: unset;">Deletar</button>
        <div class="col-8">
          <h3 class="mb-0">Cadastro de Backups</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submitBackup()">
        <h6 class="heading-small text-muted mb-4">Dados</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Nome *</label>
                <input type="text" id="input-username" class="form-control form-control-alternative" name="nomeBackup"
                  required [(ngModel)]="backup.nomeBackup">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Caminho Backup *</label>
                <input type="text" id="input-email" class="form-control form-control-alternative" name="caminhoBackup" required
                [(ngModel)]="backup.caminhoBackup">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Login Rede *</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="usuarioRede"
                  required [(ngModel)]="backup.usuarioRede">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Senha Rede *</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="senhaRede"
                  required [(ngModel)]="backup.senhaRede">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Descrição  *</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="softwareNome"
                  required [(ngModel)]="backup.softwareNome">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Empresa *</label>
                <select class="form-control" [(ngModel)]="selectedOption2" name="selectedOption2">
                  <option *ngFor="let empresa of empresas" value={{empresa.guidEmpresa}}>
                    {{empresa.razaoSocial}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Software *</label>
                <select class="form-control" [(ngModel)]="selectedOption" name="selectedOption">
                  <option *ngFor="let software of softwares" value={{software.guidSoftware}}>
                    {{software.nomeSoftware}} 
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <p style="font-size: 10px;">Campos com (*) são obrigatórios!</p>
        <hr class="my-4" />
        <button type="submit" class="btn btn-sm btn-primary" style="color: white;">Inserir</button>
      </form>
    </div>
  </div>
</div>