<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<br>
<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Configuração</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submitConfig()">
        <h6 class="heading-small text-muted mb-4">Dados</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Host Email *</label>
                <input type="text" id="input-username" class="form-control form-control-alternative" name="hostEmail"
                  required [(ngModel)]="configEmail.hostEmail">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Porta Email *</label>
                <input type="text" id="input-email" class="form-control form-control-alternative" name="portEmail" required
                [(ngModel)]="configEmail.portEmail">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Pota SMTP *</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="smtpPort"
                  required [(ngModel)]="configEmail.smtpPort">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Endereço de E-mail *</label>
                <input type="email" id="input-first-name" class="form-control form-control-alternative" name="emailAddress"
                  required [(ngModel)]="configEmail.emailAddress">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Senha E-mail *</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="passwordEmail"
                  required [(ngModel)]="configEmail.passwordEmail">
              </div>
            </div>
          </div>
        </div>
        <p style="font-size: 10px;">Campos com (*) são obrigatórios!</p>
        <hr class="my-4" />
        <button type="submit" class="btn btn-sm btn-primary" style="color: white;">Inserir</button>
      </form>
    </div>
  </div>
</div>