<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<br>
<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Cadastro de Departamento</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submitDepartamento()">
        <h6 class="heading-small text-muted mb-4">Dados</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Departamento *</label>
                <input type="text" id="input-username" class="form-control form-control-alternative" name="nomeDepartamento"
                  required [(ngModel)]="departamento.nomeDepartamento">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Sigla *</label>
                <input type="text" id="input-email" class="form-control form-control-alternative" name="siglaDepartamento" required
                [(ngModel)]="departamento.siglaDepartamento">
              </div>
            </div>
          </div>
        </div>
        <p style="font-size: 10px;">Campos com (*) são obrigatórios!</p>
        <hr class="my-4" />
        <button type="submit" class="btn btn-sm btn-primary" style="color: white;">Inserir</button>
      </form>
    </div>
  </div>
</div>