<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0"></h3>
        </div>
        <form>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Grupo</label>
                  <select class="form-control" [(ngModel)]="selectedOption2" name="selectedOption2">
                    <option *ngFor="let grupo of grupos" value={{grupo.guidGrupo}}>
                      {{grupo.descricaoGrupo}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="input-username"></label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form (ngSubmit)="submitMensagem()">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="input-username"></label>
                </div>
              </div>
              <div class="col-lg-8">
                <label class="form-control-label" for="input-username">Digite a mensagem</label>
                <div class="form-group">
                  <textarea rows="4" class="form-control form-control-alternative" placeholder="Mensagem"
                    style="height: 286px; background-color: papayawhip;" name="mensagemWeb" [(ngModel)]="mensagem.mensagemWeb">
                  </textarea>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <button type="submit" class="btn btn-sm btn-primary"
                    style="color: white;">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>