<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<br>
<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <button type="button" placement="top-center" (click)="goToManutencao(computador)" triggers="hover focus click" class="btn-icon-clipboard">
          <div>
            <i class="ni ni-settings"></i>
            <span>Manutenção</span>
          </div>
        </button>
      </div>
    </div>
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Cadastro de Computadores</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submitComputador()">
        <h6 class="heading-small text-muted mb-4">Dados</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Modelo *</label>
                <input type="text" id="input-username" class="form-control form-control-alternative" name="modelo"
                  required [(ngModel)]="computador.modeloComputador">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Data Fabricação </label>
                <input type="date" id="input-email" class="form-control form-control-alternative" name="dataFabricacao" required
                [(ngModel)]="computador.dataFabricacao">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Serial Identificador </label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="serialIdentificador"
                  required [(ngModel)]="computador.serialIdentificador">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Sistema Operacional </label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="sistemaOperacional"
                  required [(ngModel)]="computador.sistemaOperacional">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Host </label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="hostMaquina"
                  required [(ngModel)]="computador.hostMaquina">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">IPV4 *</label>
                <input type="text" id="input-first-name" class="form-control form-control-alternative" name="ipv4Maquina"
                  required [(ngModel)]="computador.ipv4Maquina" [dropSpecialCharacters]="false" mask="000.000.0.000" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Empresa *</label>
                <select class="form-control" [(ngModel)]="selectedOption2" name="selectedOption2">
                  <option *ngFor="let empresa of empresas" value={{empresa.guidEmpresa}}>
                    {{empresa.razaoSocial}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Departamento *</label>
                <select class="form-control" [(ngModel)]="selectedOption" name="selectedOption">
                  <option *ngFor="let departamento of departamentos" value={{departamento.guidDepartamento}}>
                    {{departamento.nomeDepartamento}} 
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <p style="font-size: 10px;">Campos com (*) são obrigatórios!</p>
        <hr class="my-4" />
        <button type="submit" class="btn btn-sm btn-primary" style="color: white;">Inserir</button>
      </form>
    </div>
  </div>
</div>